[
  {rabbit, [
    {cluster_nodes, { {{ cluster_hosts }}, disc}},
    {cluster_partition_handling, ignore},
    {tcp_listen_options,
         [binary,
         {packet,        raw},
         {reuseaddr,     true},
         {backlog,       128},
         {nodelay,       true},
         {exit_on_close, false}]
    },
    {queue_master_locator, <<"min-masters">>},
    {log_levels, [{connection, debug}, {channel, debug}]}
  ]},
  {kernel, [
  ]}
,
 % web-stomp plugin configuring to allow it to use basic auth
  {rabbitmq_web_stomp, [
       {use_http_auth, true}
  ]}
,
  {rabbitmq_management, [
    {listener, [
      {port, 15672}
    ]}
  ]}
].